Dog Cat Classification/kaggle.json
Dog Cat Classification/kagglecatsanddogs_3367a/
Dog Cat Classification/Dog Cat Image Reisize/
Dog Cat Classification/test/
Object Recognization/kaggle.json
Object Recognization/cifar-10.zip
Object Recognization/sampleSubmission.csv
Object Recognization/test.7z
Object Recognization/train.7z
Object Recognization/trainLabels.csv
Object Recognization/train/